<div class="page-header">
  <%= link_to billing_index_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @billing, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar Receita
  <% end %>
  <h1>Editando faturamento</h1>
</div>

<%= render 'form' %>
