<div class="page-header">
  <%= link_to merchandiseres_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to @merchandiser, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar Fornecedores
  <% end %>
  <h1>Editando Fornecedores</h1>
</div>

<%= render 'form' %>
