<div class="page-header">
  <%= link_to orderes_order_products_path(@order), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Voltar
  <% end %>
  <%= link_to orderes_order_product_path(@order, @order_product), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Mostrar
  <% end %>
  <h1>Editando itens</h1>
</div>

<%= render 'form' %>
